<div class="@GetClass()" style="@Style">
    @ChildContent
</div>

@functions {
    
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    bool Squared { get; set; }

    [Parameter]
    string Style { get; set; }

    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-card__media" };

        if(Squared)
        {
            classes.Add("mdc-card__media--square");
        }
        else
        {
            classes.Add("mdc-card__media--16-9");
        }

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}
