<div class="@GetClass()">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool FullBleed { get; set; }

    string GetClass()
    {
        List<string> classes = new List<string> { "mdc-card__actions" };

        if (FullBleed)
        {
            classes.Add("mdc-card__actions--full-bleed");
        }

        return string.Join(" ", classes);
    }
}