<div class="@GetClasses()">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool Input { get; set; }


    [Parameter]
    string Class { get; set; }

    private string GetClasses()
    {
        List<string> classes = new List<string> { "mdc-chip-set" };

        if (Input)
        {
            classes.Add("mdc-chip-set--input");
        }

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}