<h2 class="@GetClass()" style="@Style">@ChildContent</h2>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }


    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-dialog__title" };

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}