<div class="@GetClass()" style="@Style">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }


    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-dialog__surface" };

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}