<div class="@GetClass()" style="@Style">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool AlignEnd { get; set; }
    
    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }


    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-form-field" };

        if (AlignEnd)
        {
            classes.Add("mdc-form-field--align-end");
        }

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}