<div class="@GetClasses()">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    private string GetClasses()
    {
        var classes = new List<string> { "mdc-layout-grid__inner" };

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}