<div class="@GetClasses()">
    @ChildContent
</div>

@functions {

    private string GetClasses()
    {
        var c = new List<string> { "mdc-layout-grid__cell" };

        if (Desktop != null && Desktop > 0)
        {
            c.Add($"mdc-layout-grid__cell--span-{Desktop}-desktop");
        }

        if (Tablet != null && Tablet > 0)
        {
            c.Add($"mdc-layout-grid__cell--span-{Tablet}-tablet");
        }

        if (Phone != null && Phone > 0)
        {
            c.Add($"mdc-layout-grid__cell--span-{Phone}-phone");
        }

        return string.Join(" ", c);
    }

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    int? Desktop { get; set; }

    [Parameter]
    int? Tablet { get; set; }


    [Parameter]
    int? Phone { get; set; }
}