@if (Navigation)
{
    <nav class="@GetClass()" style="@Style">
        @ChildContent
    </nav>
}
else
{
    <ul class="@GetClass()" style="@Style">
        @ChildContent
    </ul>
}

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }

    [Parameter]
    bool TwoLine { get; set; }

    [Parameter]
    bool Avatars { get; set; }

    [Parameter]
    bool Dense { get; set; }

    [Parameter]
    bool NonInteractive { get; set; }

    [Parameter]
    bool Navigation { get; set; }

    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-list" };

        if(NonInteractive)
        {
            classes.Add("mdc-list--non-interactive");
        }

        if(TwoLine)
        {
            classes.Add("mdc-list--two-line");
        }

        if(Avatars)
        {
            classes.Add("mdc-list--avatar-list");
        }

        if(Dense)
        {
            classes.Add("mdc-list--dense");
        }

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}