@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime

<div ref="elem" class="mdc-notched-outline">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    ElementRef elem;

    protected override async Task OnAfterRenderAsync()
    {
        await jsRuntime.InvokeAsync<object>("Materialium.notchedOutline.init", elem);
    }
}