@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime

<div ref="elem" class="@GetClass()" style="@Style">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }


    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-tab-bar" };

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }

    ElementRef elem;
    bool isFirstRender = true;

    protected override async Task OnAfterRenderAsync()
    {
        if (isFirstRender)
        {
            isFirstRender = false;
            await jsRuntime.InvokeAsync<object>("Materialium.tabBar.init", elem);
        }
    }
}