<div class="@GetClass()" style="@Style">
    @ChildContent
</div>

@functions {

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    bool Active { get; set; }

    [Parameter]
    bool Fade { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    string Style { get; set; }


    private string GetClass()
    {
        List<string> classes = new List<string> { "mdc-tab-indicator" };

        if(Active)
        {
            classes.Add("mdc-tab-indicator--active");
        }

        if (Fade)
        {
            classes.Add("mdc-tab-indicator--fade");
        }

        if (!string.IsNullOrWhiteSpace(Class))
        {
            classes.Add(Class.Trim());
        }

        return string.Join(" ", classes);
    }
}